################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Program_26/.vs/Program_26
/Program_26/obj
